# =============================================================================
# .dockerignore
# =============================================================================
.dockerignore
.git
.gitignore
.gitattributes
.github
.venv
venv
.env
.env.*
*.pyc
__pycache__
*.py[cod]
*$py.class
*.so
*.egg-info
.eggs
dist
build
.mypy_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
.pytest_cache
.tox
.pytest_cache
notes
docs
.vs
.vscode
.idea
*.log
.terraform
Dockerfile
docker-compose*.yml
Makefile
poetry.lock
pip-wheel-metadata
ruff_cache
celerybeat-schedule
*.sqlite3
*.sqlite3-journal
